<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="modod_eleccion" connectionString="Data Source=JMA\SQLEXPRESS;Initial Catalog=testGenerales2017; User ID=admin; Password=admin" providerName="System.Data.SqlClient" />
    <add name="testReportes" connectionString="Data Source=JMA\SQLEXPRESS;Initial Catalog=testReportes; User ID=admin; Password=admin" providerName="System.Data.SqlClient" />  
    <add name="pasoCorreo" connectionString="Data Source=JMA\SQLEXPRESS;Initial Catalog=PasoCorreo; User ID=admin; Password=admin" providerName="System.Data.SqlClient" /> 
    
  </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        
      </assemblies>
    </compilation>
      <customErrors mode="Off" />
      
         
    <httpRuntime executionTimeout="1000"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>